.container-fluid {
    padding: 0px;
}

.link-text {
    display: none;
}

.navigation {
    background-color: #f5f2f8;
    width: 100%;
    font-size: 14px;
}

@media screen and (min-width: 768px) {
    .navbar-expand-custom {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .navbar-expand-custom .navbar-nav {
        flex-direction: row;
    }
    .navbar-expand-custom .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
    .navbar-expand-custom .navbar-collapse {
        display: flex !important;
    }
    .navbar-expand-custom .navbar-toggler {
        display: none;
    }

    .link-text {
        display: initial;
    }
}
